[project]
	description = Test
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/subramani95
[access "refs/for/refs/*"]
	read = group user/subramani95
	push = group user/subramani95
	label-Code-Review = -2..+2 group user/subramani95
	label-Verified = -1..+1 group Administrators
	label-Verified = -1..+1 group Anonymous Users
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/subramani95
	rebase = group user/subramani95
	removeReviewer = group user/subramani95
	submit = group user/subramani95
[access "refs/heads/*"]
	read = group user/subramani95
	create = group user/subramani95
	push = +force group user/subramani95
	pushMerge = group user/subramani95
[access "refs/tags/*"]
	push = +force group user/subramani95
	pushTag = group user/subramani95
	pushSignedTag = group user/subramani95
[receive]
	requireChangeId = false
